<div class="container loginBox p-4">
  <h2 style="color: white; text-align: center" class="pb-2">Log in</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label fw-bolder fs-5"
        >Username</label
      >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="username"
        name="username"
        id="username"
        aria-describedby="text"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label fw-bolder fs-5"
        >Password</label
      >
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password"
        id="password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
